.input_area{
    background-color: rgb(245, 245, 245);
}
.input_field{
    padding-top: 10rem;
    padding-right: 0px;
    padding-bottom: 20rem;
    padding-left: 0px;

}
.input_header{
        text-align: center;
        padding-top: 70px;
}